In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['axes.unicode_minus'] = False
plt.rcParams['font.family'] = 'NanumGothic'

import os, sys, random
from pathlib import Path

from tqdm import tqdm
from fastprogress import progress_bar

import pickle

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
CUR_DIR = Path.cwd()
DATA_DIR = CUR_DIR / 'data/preprocessed'
DATA_DIR

WindowsPath('C:/Users/안현준/풍년보험/data/preprocessed')

In [3]:
df_crops = pd.read_csv('./results_LGBM/predict_prices_mape.csv', encoding='utf-8-sig')
df_crops

,Unnamed: 0,crop_id,d,price,price_lag_12,price_lag_13,price_lag_14,price_lag_15,price_lag_16,price_lag_17,...,moving_std_30,moving_avg_36,moving_std_36,price_momentum,연월,year,month,season,cluster_id,pred_price
0,0,0,1,12191.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2001_1,2001,1,3,0,12671.840043
1,1,0,2,11558.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2001_2,2001,2,3,0,14223.632715
2,2,0,3,11885.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2001_3,2001,3,1,0,14658.669814
3,3,0,4,12133.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2001_4,2001,4,1,0,16048.912606
4,4,0,5,22625.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,2001_5,2001,5,1,0,16032.049901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8059,8059,31,248,NaN,51334.0,45886.0,42578.0,40602.0,47785.0,62178.0,...,12216.0,49540.0,13530.0,0,2021_8,2021,8,2,1,51229.414671
8060,8060,31,249,NaN,92749.0,51334.0,45886.0,42578.0,40602.0,47785.0,...,14480.0,50400.0,15224.0,1,2021_9,2021,9,0,1,70389.648956
8061,8061,31,250,NaN,63283.0,92749.0,51334.0,45886.0,42578.0,40602.0,...,14536.0,51230.0,15090.0,0,2021_10,2021,10,0,1,40482.972822
8062,8062,31,251,NaN,49019.0,63283.0,92749.0,51334.0,45886.0,42578.0,...,14424.0,51550.0,14920.0,0,2021_11,2021,11,0,1,51179.942012
8063,8063,31,252,NaN,30745.0,49019.0,63283.0,92749.0,51334.0,45886.0,...,14680.0,51550.0,14920.0,-1,2021_12,2021,12,3,1,33549.245647

In [4]:
df = df_crops[['crop_id', '연월', 'year', 'month', 'price', 'pred_price']]
df

      crop_id       연월  year  month    price    pred_price
0           0   2001_1  2001      1  12191.0  12671.840043
1           0   2001_2  2001      2  11558.0  14223.632715
2           0   2001_3  2001      3  11885.0  14658.669814
3           0   2001_4  2001      4  12133.0  16048.912606
4           0   2001_5  2001      5  22625.0  16032.049901
...       ...      ...   ...    ...      ...           ...
8059       31   2021_8  2021      8      NaN  51229.414671
8060       31   2021_9  2021      9      NaN  70389.648956
8061       31  2021_10  2021     10      NaN  40482.972822
8062       31  2021_11  2021     11      NaN  51179.942012
8063       31  2021_12  2021     12      NaN  33549.245647

[8064 rows x 6 columns]

In [5]:
crops = ['감자', '고구마', '고추(화건)', '깻잎', '녹두(국산)', '단감', '당근(무세척)', '대파', '들깨(국산)',
       '딸기', '무', '미나리', '방울토마토', '배(신고)', '배추', '백참깨(국산)', '복숭아(백도)',
       '사과(후지)', '생강(국산)', '수박', '시금치', '애호박', '양배추', '양파', '오이(가시)', '적상추',
       '참외', '콩(흰콩국산)', '토마토', '팥(국산)', '포도(캠벨)', '풋고추']
id2crop = {i: crop for i, crop in enumerate(crops)}

In [6]:
df['crop'] = df['crop_id'].apply(lambda x: id2crop[x])
df

      crop_id       연월  year  month    price    pred_price crop
0           0   2001_1  2001      1  12191.0  12671.840043   감자
1           0   2001_2  2001      2  11558.0  14223.632715   감자
2           0   2001_3  2001      3  11885.0  14658.669814   감자
3           0   2001_4  2001      4  12133.0  16048.912606   감자
4           0   2001_5  2001      5  22625.0  16032.049901   감자
...       ...      ...   ...    ...      ...           ...  ...
8059       31   2021_8  2021      8      NaN  51229.414671  풋고추
8060       31   2021_9  2021      9      NaN  70389.648956  풋고추
8061       31  2021_10  2021     10      NaN  40482.972822  풋고추
8062       31  2021_11  2021     11      NaN  51179.942012  풋고추
8063       31  2021_12  2021     12      NaN  33549.245647  풋고추

[8064 rows x 7 columns]

In [7]:
from collections import defaultdict
insurance = defaultdict(dict)
TARGET_YEAR = [2017, 2018, 2019, 2020, 2021]

for id_ in df.crop_id.unique():
    cur = df[df.crop_id == id_]
    cur_crop = id2crop[id_]
    
    # 연도별 가격 평균 집계
    cur_group = cur.groupby(['year']).agg({'price': 'mean', 'pred_price': 'mean'}).reset_index().set_index('year')

    # 5년 이동평균
    cur_group['MA_5_true'] = cur_group['price'].transform(lambda x: x.shift(1).rolling(5).mean())
    cur_group['MA_5_pred'] = cur_group['pred_price'].transform(lambda x: x.shift(1).rolling(5).mean())

    cur_group = cur_group.iloc[5:, :] # 5년의 이동평균을 구하면서 처음 5년의 데이터는 사용할 수 없음
    
    # 보험금지급여부
    cur_group['보험지급여부_true'] = np.where(cur_group['MA_5_true'] >= cur_group['price'], 1, 0)
    cur_group['보험지급여부_pred'] = np.where(cur_group['MA_5_pred'] >= cur_group['pred_price'], 1, 0)

    cur_group['빈도_mean_true'] = cur_group['보험지급여부_true'].expanding().mean()
    cur_group['빈도_mean_pred'] = cur_group['보험지급여부_pred'].expanding().mean()

    cur_group['심도_true'] = np.where(cur_group['보험지급여부_true'] == 1, cur_group['MA_5_true'] - cur_group['price'], 0)
    cur_group['심도_pred'] = np.where(cur_group['보험지급여부_pred'] == 1, cur_group['MA_5_pred'] - cur_group['pred_price'], 0)

    cur_group['심도_mean_true'] = cur_group['심도_true'].expanding().mean()
    cur_group['심도_mean_pred'] = cur_group['심도_pred'].expanding().mean()

    cur_group['보험료_true'] = cur_group['빈도_mean_true'] * cur_group['심도_mean_true']
    
    
    for target_year in TARGET_YEAR:
        premium = cur_group.at[target_year - 1, '보험료_true'] # 전년도까지의 보험료
        damage_true = cur_group.at[target_year, '심도_true'] # 해당연도의 손해액(true)
        damage_pred = cur_group.at[target_year, '심도_pred'] # 해당연도의 손해액(pred)
        insurance[target_year][cur_crop] = {
            '보험료': premium,
            '손해액_true': damage_true,
            '손해액_pred': damage_pred,
        }
cur_group

,price,pred_price,MA_5_true,MA_5_pred,보험지급여부_true,보험지급여부_pred,빈도_mean_true,빈도_mean_pred,심도_true,심도_pred,심도_mean_true,심도_mean_pred,보험료_true
year,,,,,,,,,,,,,
2006,44405.916667,47333.218362,33562.716667,37228.012818,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2007,39620.833333,41370.625689,36547.250000,38121.947328,0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2008,36159.166667,36792.148213,37154.483333,38928.964752,1,1,0.333333,0.333333,995.316667,2136.816540,331.772222,712.272180,110.590741
2009,44918.250000,48072.634984,37727.383333,39493.227345,0,0,0.250000,0.250000,0.000000,0.000000,248.829167,534.204135,62.207292
2010,52317.500000,55482.091897,39857.516667,41950.591383,0,0,0.200000,0.200000,0.000000,0.000000,199.063333,427.363308,39.812667
2011,44199.666667,46609.233093,43484.333333,45810.143829,0,0,0.166667,0.166667,0.000000,0.000000,165.886111,356.136090,27.647685
2012,55643.000000,57284.365438,43443.083333,45665.346775,0,0,0.142857,0.142857,0.000000,0.000000,142.188095,305.259506,20.312585
2013,45447.416667,45935.415376,46647.516667,48848.094725,1,1,0.250000,0.250000,1200.100000,2912.679349,274.427083,631.186986,68.606771
2014,55208.000000,56615.184690,48505.166667,50676.748158,0,0,0.222222,0.222222,0.000000,0.000000,243.935185,561.055099,54.207819
2015,46791.833333,46965.385791,50563.116667,52385.258099,1,1,0.300000,0.300000,3771.283333,5419.872307,596.670000,1046.936820,179.001000
2016,54642.333333,58350.339267,49457.983333,50681.916878,0,0,0.272727,0.272727,0.000000,0.000000,542.427273,951.760745,147.934711
2017,48247.833333,45883.925743,51546.516667,53030.138113,1,1,0.333333,0.333333,3298.683333,7146.212370,772.115278,1467.965047,257.371759
2018,49424.583333,49213.824124,50067.483333,50750.050174,1,1,0.384615,0.384615,642.900000,1536.226050,762.175641,1473.215893,293.144477
2019,48927.500000,49136.012930,50862.916667,51405.731923,1,1,0.428571,0.428571,1935.416667,2269.718993,845.978571,1530.108972,362.562245
2020,56287.000000,64577.075088,49606.816667,49909.897571,0,0,0.400000,0.400000,0.000000,0.000000,789.580000,1428.101707,315.832000
2021,NaN,53806.296129,51505.850000,53432.235431,0,0,0.375000,0.375000,0.000000,0.000000,740.231250,1338.845350,277.586719

In [8]:
insurance

defaultdict(dict,
            {2017: {'감자': {'보험료': 724.8044077134974,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '고구마': {'보험료': 335.70523415977874,
               '손해액_true': 0.0,
               '손해액_pred': 1744.4539640301446},
              '고추(화건)': {'보험료': 10205.769283746546,
               '손해액_true': 12607.199999999895,
               '손해액_pred': 107044.97053173633},
              '깻잎': {'보험료': 0.0,
               '손해액_true': 584.8166666666657,
               '손해액_pred': 478.5675968583164},
              '녹두(국산)': {'보험료': 10924.658402203851,
               '손해액_true': 0.0,
               '손해액_pred': 65298.705881969305},
              '단감': {'보험료': 692.9910468319563,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '당근(무세척)': {'보험료': 418.44504132231407,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '대파': {'보험료': 18.03099173553717,
               '손해액_true': 0.0,
               '손해액_pred': 201.33898301182012},
              '들깨(국산)': {'보험료': 30.421900826445707,
               '손해액_true': 67785.00000000006,
               '손해액_pred': 77167.17334293574},
              '딸기': {'보험료': 0.0,
               '손해액_true': 0.0,
               '손해액_pred': 51.906460441136005},
              '무': {'보험료': 318.2705234159781,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '미나리': {'보험료': 0.0,
               '손해액_true': 554.4000000000015,
               '손해액_pred': 0.0},
              '방울토마토': {'보험료': 223.6012396694214,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배(신고)': {'보험료': 1547.7252066115702,
               '손해액_true': 5010.03333333334,
               '손해액_pred': 6473.022452592042},
              '배추': {'보험료': 248.47382920110186,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '백참깨(국산)': {'보험료': 6368.382231404969,
               '손해액_true': 33298.01666666678,
               '손해액_pred': 21043.88044316834},
              '복숭아(백도)': {'보험료': 297.0055096418729,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '사과(후지)': {'보험료': 1284.8102617079878,
               '손해액_true': 9266.916666666657,
               '손해액_pred': 13606.57761299301},
              '생강(국산)': {'보험료': 2880.5553719008276,
               '손해액_true': 47640.21666666668,
               '손해액_pred': 37171.55015620494},
              '수박': {'보험료': 28.72286501377393,
               '손해액_true': 161.03333333332557,
               '손해액_pred': 405.01357686664414},
              '시금치': {'보험료': 156.55151515151513,
               '손해액_true': 287.03333333333467,
               '손해액_pred': 0.0},
              '애호박': {'보험료': 171.69752066115686,
               '손해액_true': 1173.9000000000015,
               '손해액_pred': 730.3025307312128},
              '양배추': {'보험료': 127.90247933884291,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '양파': {'보험료': 149.76859504132221,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '오이(가시)': {'보험료': 126.76446280991753,
               '손해액_true': 461.88333333333503,
               '손해액_pred': 1579.9401417676345},
              '적상추': {'보험료': 27.331404958677613,
               '손해액_true': 524.5333333333365,
               '손해액_pred': 0.0},
              '참외': {'보험료': 51.458815426997276,
               '손해액_true': 3480.6666666666642,
               '손해액_pred': 4082.501187204529},
              '콩(흰콩국산)': {'보험료': 10052.200826446287,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '토마토': {'보험료': 403.6573002754818,
               '손해액_true': 119.36666666666133,
               '손해액_pred': 0.0},
              '팥(국산)': {'보험료': 13163.59366391184,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '포도(캠벨)': {'보험료': 850.6831955922877,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '풋고추': {'보험료': 147.93471074380105,
               '손해액_true': 3298.6833333333125,
               '손해액_pred': 7146.212369837136}},
             2018: {'감자': {'보험료': 609.037037037036,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '고구마': {'보험료': 282.08564814814736,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '고추(화건)': {'보험료': 10816.117361111097,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '깻잎': {'보험료': 4.061226851851845,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '녹두(국산)': {'보험료': 9179.747685185182,
               '손해액_true': 0.0,
               '손해액_pred': 119384.54259293954},
              '단감': {'보험료': 582.3049768518522,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '당근(무세척)': {'보험료': 351.6100694444445,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '대파': {'보험료': 15.151041666666652,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '들깨(국산)': {'보험료': 992.5840277777776,
               '손해액_true': 48079.1333333333,
               '손해액_pred': 18731.50890281587},
              '딸기': {'보험료': 0.0, '손해액_true': 0.0, '손해액_pred': 0.0},
              '무': {'보험료': 267.4356481481483,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '미나리': {'보험료': 3.8500000000000103,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '방울토마토': {'보험료': 187.88715277777771,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배(신고)': {'보험료': 1769.374305555556,
               '손해액_true': 7078.4166666666715,
               '손해액_pred': 9892.125611281917},
              '배추': {'보험료': 208.78703703703698,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '백참깨(국산)': {'보험료': 7808.86944444446,
               '손해액_true': 36580.45000000007,
               '손해액_pred': 12477.179453209275},
              '복숭아(백도)': {'보험료': 249.5671296296293,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '사과(후지)': {'보험료': 1681.6385416666653,
               '손해액_true': 4490.574999999997,
               '손해액_pred': 7278.622237817493},
              '생강(국산)': {'보험료': 4679.75752314815,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '수박': {'보험료': 39.557638888888505,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '시금치': {'보험료': 174.3998842592593,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '애호박': {'보험료': 221.10243055555543,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '양배추': {'보험료': 107.47361111111105,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '양파': {'보험료': 125.84722222222214,
               '손해액_true': 4815.316666666669,
               '손해액_pred': 2601.504274507901},
              '오이(가시)': {'보험료': 154.853240740741,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '적상추': {'보험료': 45.376736111111086,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '참외': {'보험료': 137.3734375, '손해액_true': 0.0, '손해액_pred': 0.0},
              '콩(흰콩국산)': {'보험료': 8446.640972222229,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '토마토': {'보험료': 428.12499999999955,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '팥(국산)': {'보험료': 11061.075231481478,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '포도(캠벨)': {'보험료': 714.8101851851861,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '풋고추': {'보험료': 257.37175925925794,
               '손해액_true': 642.8999999999796,
               '손해액_pred': 1536.226049506491}},
             2019: {'감자': {'보험료': 518.9428007889538,
               '손해액_true': 5122.899999999987,
               '손해액_pred': 2981.2066000609448},
              '고구마': {'보험료': 240.35700197238594,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '고추(화건)': {'보험료': 9216.09999999999,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '깻잎': {'보험료': 3.4604536489151823,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '녹두(국산)': {'보험료': 7821.796844181456,
               '손해액_true': 0.0,
               '손해액_pred': 779.9834931850783},
              '단감': {'보험료': 496.1651873767261,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '당근(무세척)': {'보험료': 299.59674556213025,
               '손해액_true': 244.04999999998836,
               '손해액_pred': 4815.323504467258},
              '대파': {'보험료': 12.909763313609455,
               '손해액_true': 202.1166666666668,
               '손해액_pred': 182.76259078427893},
              '들깨(국산)': {'보험료': 2122.103846153845,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '딸기': {'보험료': 0.0,
               '손해액_true': 827.2250000000022,
               '손해액_pred': 843.0619263863737},
              '무': {'보험료': 227.87416173570034,
               '손해액_true': 1669.9500000000025,
               '손해액_pred': 574.7134612534974},
              '미나리': {'보험료': 3.2804733727810738,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '방울토마토': {'보험료': 160.09319526627215,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배(신고)': {'보험료': 2052.093491124261,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배추': {'보험료': 177.90138067061142,
               '손해액_true': 250.44999999999982,
               '손해액_pred': 0.0},
              '백참깨(국산)': {'보험료': 9277.829684418166,
               '손해액_true': 23097.116666666698,
               '손해액_pred': 14004.425369363977},
              '복숭아(백도)': {'보험료': 212.64891518737645,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '사과(후지)': {'보험료': 1857.688165680472,
               '손해액_true': 3563.4999999999927,
               '손해액_pred': 5891.326954596472},
              '생강(국산)': {'보험료': 3987.4857001972405,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '수박': {'보험료': 33.70591715976298,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '시금치': {'보험료': 148.6010848126233,
               '손해액_true': 0.0,
               '손해액_pred': 707.240213001658},
              '애호박': {'보험료': 188.39497041420108,
               '손해액_true': 2301.2333333333336,
               '손해액_pred': 2367.4007922947094},
              '양배추': {'보험료': 91.57514792899404,
               '손해액_true': 1259.583333333334,
               '손해액_pred': 732.405211022914},
              '양파': {'보험료': 246.32514792899403,
               '손해액_true': 7193.749999999998,
               '손해액_pred': 5090.784454923971},
              '오이(가시)': {'보험료': 131.9459566074953,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '적상추': {'보험료': 38.664201183431935,
               '손해액_true': 0.0,
               '손해액_pred': 2450.1392917643097},
              '참외': {'보험료': 117.05192307692307,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '콩(흰콩국산)': {'보험료': 7197.137869822491,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '토마토': {'보험료': 364.79289940828363,
               '손해액_true': 0.0,
               '손해액_pred': 1138.7282253307349},
              '팥(국산)': {'보험료': 9424.821499013804,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '포도(캠벨)': {'보험료': 609.0690335305728,
               '손해액_true': 167.5583333333343,
               '손해액_pred': 513.3425762153711},
              '풋고추': {'보험료': 293.1444773175523,
               '손해액_true': 1935.4166666666424,
               '손해액_pred': 2269.7189928098596}},
             2020: {'감자': {'보험료': 693.770408163264,
               '손해액_true': 4927.183333333323,
               '손해액_pred': 8497.13240790573},
              '고구마': {'보험료': 207.24659863945524,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '고추(화건)': {'보험료': 7946.535204081622,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '깻잎': {'보험료': 2.9837585034013556,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '녹두(국산)': {'보험료': 6744.304421768705,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '단감': {'보험료': 427.81590136054444,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '당근(무세척)': {'보험료': 349.41496598639435,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '대파': {'보험료': 18.966666666666654,
               '손해액_true': 0.0,
               '손해액_pred': 15.401090375182093},
              '들깨(국산)': {'보험료': 1829.7732142857135,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '딸기': {'보험료': 4.220535714285725,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '무': {'보험료': 288.2049319727893,
               '손해액_true': 58.33333333333758,
               '손해액_pred': 1041.3575235099288},
              '미나리': {'보험료': 2.828571428571436,
               '손해액_true': 0.0,
               '손해액_pred': 1565.6736652324253},
              '방울토마토': {'보험료': 138.03954081632648,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배(신고)': {'보험료': 1769.4071428571435,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배추': {'보험료': 198.13222789115645,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '백참깨(국산)': {'보험료': 10085.323809523828,
               '손해액_true': 0.0,
               '손해액_pred': 10529.666516594007},
              '복숭아(백도)': {'보험료': 183.35544217687053,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '사과(후지)': {'보험료': 1976.0571428571411,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '생강(국산)': {'보험료': 3438.1892006802736,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '수박': {'보험료': 29.06275510204053,
               '손해액_true': 300.8499999999931,
               '손해액_pred': 1309.703777559458},
              '시금치': {'보험료': 128.13052721088437,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '애호박': {'보험료': 265.3770408163264,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '양배추': {'보험료': 130.98605442176867,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '양파': {'보험료': 430.00136054421756,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '오이(가시)': {'보험료': 113.76972789115666,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '적상추': {'보험료': 33.33801020408161,
               '손해액_true': 966.4333333333307,
               '손해액_pred': 4914.513760742349},
              '참외': {'보험료': 100.92742346938775,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '콩(흰콩국산)': {'보험료': 6205.695408163269,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '토마토': {'보험료': 314.54081632653026,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '팥(국산)': {'보험료': 8126.504251700678,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '포도(캠벨)': {'보험료': 598.5065051020417,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '풋고추': {'보험료': 362.5622448979564,
               '손해액_true': 0.0,
               '손해액_pred': 0.0}},
             2021: {'감자': {'보험료': 858.3664444444428,
               '손해액_true': 0.0,
               '손해액_pred': 11741.686685459259},
              '고구마': {'보험료': 180.53481481481433,
               '손해액_true': 0.0,
               '손해액_pred': 5176.436231230862},
              '고추(화건)': {'보험료': 6922.315111111102,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '깻잎': {'보험료': 2.599185185185181,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '녹두(국산)': {'보험료': 5875.038518518516,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '단감': {'보험료': 372.67518518518534,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '당근(무세척)': {'보험료': 304.37925925925913,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '대파': {'보험료': 16.522074074074066,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '들깨(국산)': {'보험료': 1593.9357777777773,
               '손해액_true': 0.0,
               '손해액_pred': 73177.18142682977},
              '딸기': {'보험료': 3.676555555555565,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '무': {'보험료': 302.8257777777781,
               '손해액_true': 0.0,
               '손해액_pred': 1698.2005740661662},
              '미나리': {'보험료': 2.4640000000000066,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '방울토마토': {'보험료': 120.24777777777774,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배(신고)': {'보험료': 1541.3502222222228,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '배추': {'보험료': 172.59518518518513,
               '손해액_true': 0.0,
               '손해액_pred': 196.9070843641366},
              '백참깨(국산)': {'보험료': 8785.437629629647,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '복숭아(백도)': {'보험료': 159.72296296296275,
               '손해액_true': 0.0,
               '손해액_pred': 1581.048031703287},
              '사과(후지)': {'보험료': 1721.3653333333318,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '생강(국산)': {'보험료': 2995.0448148148157,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '수박': {'보험료': 39.10429629629584,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '시금치': {'보험료': 111.61592592592594,
               '손해액_true': 0.0,
               '손해액_pred': 2364.1359235637447},
              '애호박': {'보험료': 231.1728888888888,
               '손해액_true': 0.0,
               '손해액_pred': 650.6092530262395},
              '양배추': {'보험료': 114.10340740740737,
               '손해액_true': 0.0,
               '손해액_pred': 2516.830718189057},
              '양파': {'보험료': 374.57896296296286,
               '손해액_true': 0.0,
               '손해액_pred': 3650.2130570466215},
              '오이(가시)': {'보험료': 99.10607407407424,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '적상추': {'보험료': 55.902518518518455,
               '손해액_true': 0.0,
               '손해액_pred': 2481.1473703503034},
              '참외': {'보험료': 87.919, '손해액_true': 0.0, '손해액_pred': 0.0},
              '콩(흰콩국산)': {'보험료': 5405.850222222227,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '토마토': {'보험료': 273.99999999999966,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '팥(국산)': {'보험료': 7079.088148148146,
               '손해액_true': 0.0,
               '손해액_pred': 0.0},
              '포도(캠벨)': {'보험료': 521.3656666666674,
               '손해액_true': 0.0,
               '손해액_pred': 3186.0469313119975},
              '풋고추': {'보험료': 315.8319999999976,
               '손해액_true': 0.0,
               '손해액_pred': 0.0}}})

In [9]:
with open('./results/crop_cluster.pickle', 'rb') as f:
    data = pickle.load(f)
data

{'감자': {'crop_class': '식량작물', 'price_class': 0},
 '고구마': {'crop_class': '식량작물', 'price_class': 4},
 '고추(화건)': {'crop_class': '채소', 'price_class': 3},
 '깻잎': {'crop_class': '채소', 'price_class': 2},
 '녹두(국산)': {'crop_class': '식량작물', 'price_class': 3},
 '단감': {'crop_class': '과일', 'price_class': 1},
 '당근(무세척)': {'crop_class': '채소', 'price_class': 0},
 '대파': {'crop_class': '채소', 'price_class': 4},
 '들깨(국산)': {'crop_class': '특용작물', 'price_class': 3},
 '딸기': {'crop_class': '채소', 'price_class': 2},
 '무': {'crop_class': '채소', 'price_class': 0},
 '미나리': {'crop_class': '채소', 'price_class': 0},
 '방울토마토': {'crop_class': '채소', 'price_class': 2},
 '배(신고)': {'crop_class': '과일', 'price_class': 4},
 '배추': {'crop_class': '채소', 'price_class': 0},
 '백참깨(국산)': {'crop_class': '특용작물', 'price_class': 4},
 '복숭아(백도)': {'crop_class': '과일', 'price_class': 1},
 '사과(후지)': {'crop_class': '과일', 'price_class': 4},
 '생강(국산)': {'crop_class': '채소', 'price_class': 4},
 '수박': {'crop_class': '채소', 'price_class': 2},
 '시금치': {'crop_class': '채소', 'price_class': 6},
 '애호박': {'crop_class': '채소', 'price_class': 2},
 '양배추': {'crop_class': '채소', 'price_class': 2},
 '양파': {'crop_class': '채소', 'price_class': 0},
 '오이(가시)': {'crop_class': '채소', 'price_class': 2},
 '적상추': {'crop_class': '채소', 'price_class': 6},
 '참외': {'crop_class': '채소', 'price_class': 1},
 '콩(흰콩국산)': {'crop_class': '특용작물', 'price_class': 3},
 '토마토': {'crop_class': '채소', 'price_class': 2},
 '팥(국산)': {'crop_class': '식량작물', 'price_class': 4},
 '포도(캠벨)': {'crop_class': '과일', 'price_class': 5},
 '풋고추': {'crop_class': '채소', 'price_class': 1}}

In [10]:
dfs = []

for year in TARGET_YEAR:
    statics = insurance[year]
    premium_total = defaultdict(int)
    damage_true_total = defaultdict(int)
    damage_pred_total = defaultdict(int)
    for crop in statics.keys():
        p_class = data[crop]['price_class']
        
        
        premium_total[p_class] += statics[crop]['보험료']
        damage_true_total[p_class] += statics[crop]['손해액_true']
        damage_pred_total[p_class] += statics[crop]['손해액_pred']
#     print(f'검정 연도: {year}')
#     print(f'cluster_id | 손해율(true) | 손해율(pred)')
#     for p_class in range(7):
#         print(f'{p_class} | {damage_true_total[p_class] / premium_total[p_class]:.4f} | {damage_pred_total[p_class] / premium_total[p_class]:.4f}')
    df = pd.DataFrame({
        '검정연도': [year] * 7,
        'cluster_id': range(7),
        '손해율(true)': [damage_true_total[i] / premium_total[i] for i in range(7)],
        '손해율(pred)': [damage_pred_total[i] / premium_total[i] for i in range(7)],
    })
    dfs.append(df)
    #print(f'\t손해율(pred): {damage_pred_total / premium_total}')
df_total = pd.concat(dfs, axis=0)
df_total

   검정연도  cluster_id  손해율(true)  손해율(pred)
0  2017           0   0.298103   0.000000
1  2017           1   5.699854   9.440732
2  2017           2   2.310722   2.998792
3  2017           3   2.575596   7.993799
4  2017           4   3.719517   3.134554
5  2017           5   0.000000   0.000000
6  2017           6   4.413497   0.000000
0  2018           0   3.073802   1.660640
1  2018           1   0.524124   1.252409
2  2018           2   0.000000   0.000000
3  2018           3   1.633395   4.692225
4  2018           4   1.763848   1.086086
5  2018           5   0.000000   0.000000
6  2018           6   0.000000   0.000000
0  2019           0   9.824884   9.133482
1  2019           1   1.729579   2.028327
2  2019           2   4.505322   5.217413
3  2019           3   0.000000   0.029593
4  2019           4   1.000356   0.747714
5  2019           5   0.275106   0.842832
6  2019           6   0.000000  16.860463
0  2020           0   2.540582   5.658598
1  2020           1   0.000000   0.000000
2  2020           2   0.301157   1.311041
3  2020           3   0.000000   0.000000
4  2020           4   0.000000   0.411568
5  2020           5   0.000000   0.000000
6  2020           6   5.985273  30.436355
0  2021           0   0.000000   8.578268
1  2021           1   0.000000   1.688885
2  2021           2   0.000000   3.583036
3  2021           3   0.000000   3.696351
4  2021           4   0.000000   0.231926
5  2021           5   0.000000   6.110964
6  2021           6   0.000000  28.923879

In [11]:
with open('./results/cluster_id.pkl', 'rb') as f:
    cluster_id = pickle.load(f)
cluster_id

defaultdict(list,
            {0: ['감자', '당근(무세척)', '무', '미나리', '배추', '양파'],
             4: ['고구마', '대파', '배(신고)', '백참깨(국산)', '사과(후지)', '생강(국산)', '팥(국산)'],
             3: ['고추(화건)', '녹두(국산)', '들깨(국산)', '콩(흰콩국산)'],
             2: ['깻잎', '딸기', '방울토마토', '수박', '애호박', '양배추', '오이(가시)', '토마토'],
             1: ['단감', '복숭아(백도)', '참외', '풋고추'],
             6: ['시금치', '적상추'],
             5: ['포도(캠벨)']})

In [12]:
df_total[df_total['cluster_id'] == 0]

   검정연도  cluster_id  손해율(true)  손해율(pred)
0  2017           0   0.298103   0.000000
0  2018           0   3.073802   1.660640
0  2019           0   9.824884   9.133482
0  2020           0   2.540582   5.658598
0  2021           0   0.000000   8.578268

In [13]:
df_total[df_total['cluster_id'] == 1]

   검정연도  cluster_id  손해율(true)  손해율(pred)
1  2017           1   5.699854   9.440732
1  2018           1   0.524124   1.252409
1  2019           1   1.729579   2.028327
1  2020           1   0.000000   0.000000
1  2021           1   0.000000   1.688885

In [14]:
df_total[df_total['cluster_id'] == 2]

   검정연도  cluster_id  손해율(true)  손해율(pred)
2  2017           2   2.310722   2.998792
2  2018           2   0.000000   0.000000
2  2019           2   4.505322   5.217413
2  2020           2   0.301157   1.311041
2  2021           2   0.000000   3.583036

In [15]:
df_total[df_total['cluster_id'] == 3]

   검정연도  cluster_id  손해율(true)  손해율(pred)
3  2017           3   2.575596   7.993799
3  2018           3   1.633395   4.692225
3  2019           3   0.000000   0.029593
3  2020           3   0.000000   0.000000
3  2021           3   0.000000   3.696351

In [16]:
df_total[df_total['cluster_id'] == 4]

   검정연도  cluster_id  손해율(true)  손해율(pred)
4  2017           4   3.719517   3.134554
4  2018           4   1.763848   1.086086
4  2019           4   1.000356   0.747714
4  2020           4   0.000000   0.411568
4  2021           4   0.000000   0.231926

In [17]:
df_total[df_total['cluster_id'] == 5]

   검정연도  cluster_id  손해율(true)  손해율(pred)
5  2017           5   0.000000   0.000000
5  2018           5   0.000000   0.000000
5  2019           5   0.275106   0.842832
5  2020           5   0.000000   0.000000
5  2021           5   0.000000   6.110964

In [18]:
df_total[df_total['cluster_id'] == 6]

   검정연도  cluster_id  손해율(true)  손해율(pred)
6  2017           6   4.413497   0.000000
6  2018           6   0.000000   0.000000
6  2019           6   0.000000  16.860463
6  2020           6   5.985273  30.436355
6  2021           6   0.000000  28.923879

In [19]:
from collections import defaultdict

cases = defaultdict(dict)
years = [2017, 2018, 2019, 2020]

def pick_cluster(idx, items=[], n_pick=0):
    if n_pick == 3:
        cases[tuple(items)] = {}
        for year in years:
            df = df_total[df_total['cluster_id'].isin(items)]
            df = df[df.검정연도 == year]
            cases[tuple(items)][year] = {
                '손해율(true)_mean': df['손해율(true)'].mean(),
                '손해율(pred)_mean': df['손해율(pred)'].mean(),
                '손해율(true)_std': df['손해율(true)'].std(),
                '손해율(pred)_std': df['손해율(pred)'].std(),
            }
        return
    for i in range(idx + 1, 6 + 1):
        items.append(i)
        pick_cluster(i, items, n_pick + 1)
        items.pop()
        
pick_cluster(-1, items=[], n_pick=0)

In [20]:
for cluster in cases.keys():
    for year, data in cases[cluster].items():
        print(f'{cluster} | {year}')
        print(f"\t손해율(true)_mean: {data['손해율(true)_mean']:.4f}")
        print(f"\t손해율(true)_std : {data['손해율(true)_std']:.4f}")
        print(f"\t손해율(pred)_mean: {data['손해율(pred)_mean']:.4f}")
        print(f"\t손해율(pred)_std : {data['손해율(pred)_std']:.4f}")

(0, 1, 2) | 2017
	손해율(true)_mean: 2.7696
	손해율(true)_std : 2.7300
	손해율(pred)_mean: 4.1465
	손해율(pred)_std : 4.8239
(0, 1, 2) | 2018
	손해율(true)_mean: 1.1993
	손해율(true)_std : 1.6444
	손해율(pred)_mean: 0.9710
	손해율(pred)_std : 0.8653
(0, 1, 2) | 2019
	손해율(true)_mean: 5.3533
	손해율(true)_std : 4.1137
	손해율(pred)_mean: 5.4597
	손해율(pred)_std : 3.5588
(0, 1, 2) | 2020
	손해율(true)_mean: 0.9472
	손해율(true)_std : 1.3881
	손해율(pred)_mean: 2.3232
	손해율(pred)_std : 2.9620
(0, 1, 3) | 2017
	손해율(true)_mean: 2.8579
	손해율(true)_std : 2.7119
	손해율(pred)_mean: 5.8115
	손해율(pred)_std : 5.0846
(0, 1, 3) | 2018
	손해율(true)_mean: 1.7438
	손해율(true)_std : 1.2784
	손해율(pred)_mean: 2.5351
	손해율(pred)_std : 1.8793
(0, 1, 3) | 2019
	손해율(true)_mean: 3.8515
	손해율(true)_std : 5.2449
	손해율(pred)_mean: 3.7305
	손해율(pred)_std : 4.7847
(0, 1, 3) | 2020
	손해율(true)_mean: 0.8469
	손해율(true)_std : 1.4668
	손해율(pred)_mean: 1.8862
	손해율(pred)_std : 3.2670
(0, 1, 4) | 2017
	손해율(true)_mean: 3.2392
	손해율(true)_std : 2.7327
	손해율(pred)_mean: 4.1918
	손해율(pred)_std : 4.8083
(0, 1, 4) | 2018
	손해율(true)_mean: 1.7873
	손해율(true)_std : 1.2750
	손해율(pred)_mean: 1.3330
	손해율(pred)_std : 0.2956
(0, 1, 4) | 2019
	손해율(true)_mean: 4.1849
	손해율(true)_std : 4.8979
	손해율(pred)_mean: 3.9698
	손해율(pred)_std : 4.5175
(0, 1, 4) | 2020
	손해율(true)_mean: 0.8469
	손해율(true)_std : 1.4668
	손해율(pred)_mean: 2.0234
	손해율(pred)_std : 3.1549
(0, 1, 5) | 2017
	손해율(true)_mean: 1.9993
	손해율(true)_std : 3.2082
	손해율(pred)_mean: 3.1469
	손해율(pred)_std : 5.4506
(0, 1, 5) | 2018
	손해율(true)_mean: 1.1993
	손해율(true)_std : 1.6444
	손해율(pred)_mean: 0.9710
	손해율(pred)_std : 0.8653
(0, 1, 5) | 2019
	손해율(true)_mean: 3.9432
	손해율(true)_std : 5.1453
	손해율(pred)_mean: 4.0015
	손해율(pred)_std : 4.4837
(0, 1, 5) | 2020
	손해율(true)_mean: 0.8469
	손해율(true)_std : 1.4668
	손해율(pred)_mean: 1.8862
	손해율(pred)_std : 3.2670
(0, 1, 6) | 2017
	손해율(true)_mean: 3.4705
	손해율(true)_std : 2.8216
	손해율(pred)_mean: 3.1469
	손해율(pred)_std : 5.4506
(0, 1, 6) | 2018
	손해율(true)_mean: 1.1993
	손해율(true)_std : 1.6444
	손해율(pred)_mean: 0.9710
	손해율(pred)_std : 0.8653
(0, 1, 6) | 2019
	손해율(true)_mean: 3.8515
	손해율(true)_std : 5.2449
	손해율(pred)_mean: 9.3408
	손해율(pred)_std : 7.4182
(0, 1, 6) | 2020
	손해율(true)_mean: 2.8420
	손해율(true)_std : 3.0040
	손해율(pred)_mean: 12.0317
	손해율(pred)_std : 16.1881
(0, 2, 3) | 2017
	손해율(true)_mean: 1.7281
	손해율(true)_std : 1.2455
	손해율(pred)_mean: 3.6642
	손해율(pred)_std : 4.0382
(0, 2, 3) | 2018
	손해율(true)_mean: 1.5691
	손해율(true)_std : 1.5379
	손해율(pred)_mean: 2.1176
	손해율(pred)_std : 2.3793
(0, 2, 3) | 2019
	손해율(true)_mean: 4.7767
	손해율(true)_std : 4.9181
	손해율(pred)_mean: 4.7935
	손해율(pred)_std : 4.5667
(0, 2, 3) | 2020
	손해율(true)_mean: 0.9472
	손해율(true)_std : 1.3881
	손해율(pred)_mean: 2.3232
	손해율(pred)_std : 2.9620
(0, 2, 4) | 2017
	손해율(true)_mean: 2.1094
	손해율(true)_std : 1.7196
	손해율(pred)_mean: 2.0444
	손해율(pred)_std : 1.7718
(0, 2, 4) | 2018
	손해율(true)_mean: 1.6126
	손해율(true)_std : 1.5425
	손해율(pred)_mean: 0.9156
	손해율(pred)_std : 0.8433
(0, 2, 4) | 2019
	손해율(true)_mean: 5.1102
	손해율(true)_std : 4.4433
	손해율(pred)_mean: 5.0329
	손해율(pred)_std : 4.1959
(0, 2, 4) | 2020
	손해율(true)_mean: 0.9472
	손해율(true)_std : 1.3881
	손해율(pred)_mean: 2.4604
	손해율(pred)_std : 2.8060
(0, 2, 5) | 2017
	손해율(true)_mean: 0.8696
	손해율(true)_std : 1.2569
	손해율(pred)_mean: 0.9996
	손해율(pred)_std : 1.7314
(0, 2, 5) | 2018
	손해율(true)_mean: 1.0246
	손해율(true)_std : 1.7747
	손해율(pred)_mean: 0.5535
	손해율(pred)_std : 0.9588
(0, 2, 5) | 2019
	손해율(true)_mean: 4.8684
	손해율(true)_std : 4.7852
	손해율(pred)_mean: 5.0646
	손해율(pred)_std : 4.1474
(0, 2, 5) | 2020
	손해율(true)_mean: 0.9472
	손해율(true)_std : 1.3881
	손해율(pred)_mean: 2.3232
	손해율(pred)_std : 2.9620
(0, 2, 6) | 2017
	손해율(true)_mean: 2.3408
	손해율(true)_std : 2.0579
	손해율(pred)_mean: 0.9996
	손해율(pred)_std : 1.7314
(0, 2, 6) | 2018
	손해율(true)_mean: 1.0246
	손해율(true)_std : 1.7747
	손해율(pred)_mean: 0.5535
	손해율(pred)_std : 0.9588
(0, 2, 6) | 2019
	손해율(true)_mean: 4.7767
	손해율(true)_std : 4.9181
	손해율(pred)_mean: 10.4038
	손해율(pred)_std : 5.9246
(0, 2, 6) | 2020
	손해율(true)_mean: 2.9423
	손해율(true)_std : 2.8633
	손해율(pred)_mean: 12.4687
	손해율(pred)_std : 15.7116
(0, 3, 4) | 2017
	손해율(true)_mean: 2.1977
	손해율(true)_std : 1.7417
	손해율(pred)_mean: 3.7095
	손해율(pred)_std : 4.0278
(0, 3, 4) | 2018
	손해율(true)_mean: 2.1570
	손해율(true)_std : 0.7966
	손해율(pred)_mean: 2.4797
	손해율(pred)_std : 1.9376
(0, 3, 4) | 2019
	손해율(true)_mean: 3.6084
	손해율(true)_std : 5.4068
	손해율(pred)_mean: 3.3036
	손해율(pred)_std : 5.0616
(0, 3, 4) | 2020
	손해율(true)_mean: 0.8469
	손해율(true)_std : 1.4668
	손해율(pred)_mean: 2.0234
	손해율(pred)_std : 3.1549
(0, 3, 5) | 2017
	손해율(true)_mean: 0.9579
	손해율(true)_std : 1.4089
	손해율(pred)_mean: 2.6646
	손해율(pred)_std : 4.6152
(0, 3, 5) | 2018
	손해율(true)_mean: 1.5691
	손해율(true)_std : 1.5379
	손해율(pred)_mean: 2.1176
	손해율(pred)_std : 2.3793
(0, 3, 5) | 2019
	손해율(true)_mean: 3.3667
	손해율(true)_std : 5.5947
	손해율(pred)_mean: 3.3353
	손해율(pred)_std : 5.0378
(0, 3, 5) | 2020
	손해율(true)_mean: 0.8469
	손해율(true)_std : 1.4668
	손해율(pred)_mean: 1.8862
	손해율(pred)_std : 3.2670
(0, 3, 6) | 2017
	손해율(true)_mean: 2.4291
	손해율(true)_std : 2.0616
	손해율(pred)_mean: 2.6646
	손해율(pred)_std : 4.6152
(0, 3, 6) | 2018
	손해율(true)_mean: 1.5691
	손해율(true)_std : 1.5379
	손해율(pred)_mean: 2.1176
	손해율(pred)_std : 2.3793
(0, 3, 6) | 2019
	손해율(true)_mean: 3.2750
	손해율(true)_std : 5.6724
	손해율(pred)_mean: 8.6745
	손해율(pred)_std : 8.4248
(0, 3, 6) | 2020
	손해율(true)_mean: 2.8420
	손해율(true)_std : 3.0040
	손해율(pred)_mean: 12.0317
	손해율(pred)_std : 16.1881
(0, 4, 5) | 2017
	손해율(true)_mean: 1.3392
	손해율(true)_std : 2.0668
	손해율(pred)_mean: 1.0449
	손해율(pred)_std : 1.8097
(0, 4, 5) | 2018
	손해율(true)_mean: 1.6126
	손해율(true)_std : 1.5425
	손해율(pred)_mean: 0.9156
	손해율(pred)_std : 0.8433
(0, 4, 5) | 2019
	손해율(true)_mean: 3.7001
	손해율(true)_std : 5.3166
	손해율(pred)_mean: 3.5747
	손해율(pred)_std : 4.8143
(0, 4, 5) | 2020
	손해율(true)_mean: 0.8469
	손해율(true)_std : 1.4668
	손해율(pred)_mean: 2.0234
	손해율(pred)_std : 3.1549
(0, 4, 6) | 2017
	손해율(true)_mean: 2.8104
	손해율(true)_std : 2.2032
	손해율(pred)_mean: 1.0449
	손해율(pred)_std : 1.8097
(0, 4, 6) | 2018
	손해율(true)_mean: 1.6126
	손해율(true)_std : 1.5425
	손해율(pred)_mean: 0.9156
	손해율(pred)_std : 0.8433
(0, 4, 6) | 2019
	손해율(true)_mean: 3.6084
	손해율(true)_std : 5.4068
	손해율(pred)_mean: 8.9139
	손해율(pred)_std : 8.0586
(0, 4, 6) | 2020
	손해율(true)_mean: 2.8420
	손해율(true)_std : 3.0040
	손해율(pred)_mean: 12.1688
	손해율(pred)_std : 16.0362
(0, 5, 6) | 2017
	손해율(true)_mean: 1.5705
	손해율(true)_std : 2.4666
	손해율(pred)_mean: 0.0000
	손해율(pred)_std : 0.0000
(0, 5, 6) | 2018
	손해율(true)_mean: 1.0246
	손해율(true)_std : 1.7747
	손해율(pred)_mean: 0.5535
	손해율(pred)_std : 0.9588
(0, 5, 6) | 2019
	손해율(true)_mean: 3.3667
	손해율(true)_std : 5.5947
	손해율(pred)_mean: 8.9456
	손해율(pred)_std : 8.0105
(0, 5, 6) | 2020
	손해율(true)_mean: 2.8420
	손해율(true)_std : 3.0040
	손해율(pred)_mean: 12.0317
	손해율(pred)_std : 16.1881
(1, 2, 3) | 2017
	손해율(true)_mean: 3.5287
	손해율(true)_std : 1.8849
	손해율(pred)_mean: 6.8111
	손해율(pred)_std : 3.3799
(1, 2, 3) | 2018
	손해율(true)_mean: 0.7192
	손해율(true)_std : 0.8340
	손해율(pred)_mean: 1.9815
	손해율(pred)_std : 2.4296
(1, 2, 3) | 2019
	손해율(true)_mean: 2.0783
	손해율(true)_std : 2.2728
	손해율(pred)_mean: 2.4251
	손해율(pred)_std : 2.6166
(1, 2, 3) | 2020
	손해율(true)_mean: 0.1004
	손해율(true)_std : 0.1739
	손해율(pred)_mean: 0.4370
	손해율(pred)_std : 0.7569
(1, 2, 4) | 2017
	손해율(true)_mean: 3.9100
	손해율(true)_std : 1.7026
	손해율(pred)_mean: 5.1914
	손해율(pred)_std : 3.6807
(1, 2, 4) | 2018
	손해율(true)_mean: 0.7627
	손해율(true)_std : 0.9058
	손해율(pred)_mean: 0.7795
	손해율(pred)_std : 0.6802
(1, 2, 4) | 2019
	손해율(true)_mean: 2.4118
	손해율(true)_std : 1.8494
	손해율(pred)_mean: 2.6645
	손해율(pred)_std : 2.3018
(1, 2, 4) | 2020
	손해율(true)_mean: 0.1004
	손해율(true)_std : 0.1739
	손해율(pred)_mean: 0.5742
	손해율(pred)_std : 0.6705
(1, 2, 5) | 2017
	손해율(true)_mean: 2.6702
	손해율(true)_std : 2.8669
	손해율(pred)_mean: 4.1465
	손해율(pred)_std : 4.8239
(1, 2, 5) | 2018
	손해율(true)_mean: 0.1747
	손해율(true)_std : 0.3026
	손해율(pred)_mean: 0.4175
	손해율(pred)_std : 0.7231
(1, 2, 5) | 2019
	손해율(true)_mean: 2.1700
	손해율(true)_std : 2.1492
	손해율(pred)_mean: 2.6962
	손해율(pred)_std : 2.2625
(1, 2, 5) | 2020
	손해율(true)_mean: 0.1004
	손해율(true)_std : 0.1739
	손해율(pred)_mean: 0.4370
	손해율(pred)_std : 0.7569
(1, 2, 6) | 2017
	손해율(true)_mean: 4.1414
	손해율(true)_std : 1.7109
	손해율(pred)_mean: 4.1465
	손해율(pred)_std : 4.8239
(1, 2, 6) | 2018
	손해율(true)_mean: 0.1747
	손해율(true)_std : 0.3026
	손해율(pred)_mean: 0.4175
	손해율(pred)_std : 0.7231
(1, 2, 6) | 2019
	손해율(true)_mean: 2.0783
	손해율(true)_std : 2.2728
	손해율(pred)_mean: 8.0354
	손해율(pred)_std : 7.8073
(1, 2, 6) | 2020
	손해율(true)_mean: 2.0955
	손해율(true)_std : 3.3720
	손해율(pred)_mean: 10.5825
	손해율(pred)_std : 17.2065
(1, 3, 4) | 2017
	손해율(true)_mean: 3.9983
	손해율(true)_std : 1.5807
	손해율(pred)_mean: 6.8564
	손해율(pred)_std : 3.3034
(1, 3, 4) | 2018
	손해율(true)_mean: 1.3071
	손해율(true)_std : 0.6812
	손해율(pred)_mean: 2.3436
	손해율(pred)_std : 2.0357
(1, 3, 4) | 2019
	손해율(true)_mean: 0.9100
	손해율(true)_std : 0.8683
	손해율(pred)_mean: 0.9352
	손해율(pred)_std : 1.0125
(1, 3, 4) | 2020
	손해율(true)_mean: 0.0000
	손해율(true)_std : 0.0000
	손해율(pred)_mean: 0.1372
	손해율(pred)_std : 0.2376
(1, 3, 5) | 2017
	손해율(true)_mean: 2.7585
	손해율(true)_std : 2.8543
	손해율(pred)_mean: 5.8115
	손해율(pred)_std : 5.0846
(1, 3, 5) | 2018
	손해율(true)_mean: 0.7192
	손해율(true)_std : 0.8340
	손해율(pred)_mean: 1.9815
	손해율(pred)_std : 2.4296
(1, 3, 5) | 2019
	손해율(true)_mean: 0.6682
	손해율(true)_std : 0.9294
	손해율(pred)_mean: 0.9669
	손해율(pred)_std : 1.0051
(1, 3, 5) | 2020
	손해율(true)_mean: 0.0000
	손해율(true)_std : 0.0000
	손해율(pred)_mean: 0.0000
	손해율(pred)_std : 0.0000
(1, 3, 6) | 2017
	손해율(true)_mean: 4.2296
	손해율(true)_std : 1.5702
	손해율(pred)_mean: 5.8115
	손해율(pred)_std : 5.0846
(1, 3, 6) | 2018
	손해율(true)_mean: 0.7192
	손해율(true)_std : 0.8340
	손해율(pred)_mean: 1.9815
	손해율(pred)_std : 2.4296
(1, 3, 6) | 2019
	손해율(true)_mean: 0.5765
	손해율(true)_std : 0.9986
	손해율(pred)_mean: 6.3061
	손해율(pred)_std : 9.1948
(1, 3, 6) | 2020
	손해율(true)_mean: 1.9951
	손해율(true)_std : 3.4556
	손해율(pred)_mean: 10.1455
	손해율(pred)_std : 17.5724
(1, 4, 5) | 2017
	손해율(true)_mean: 3.1398
	손해율(true)_std : 2.8938
	손해율(pred)_mean: 4.1918
	손해율(pred)_std : 4.8083
(1, 4, 5) | 2018
	손해율(true)_mean: 0.7627
	손해율(true)_std : 0.9058
	손해율(pred)_mean: 0.7795
	손해율(pred)_std : 0.6802
(1, 4, 5) | 2019
	손해율(true)_mean: 1.0017
	손해율(true)_std : 0.7272
	손해율(pred)_mean: 1.2063
	손해율(pred)_std : 0.7135
(1, 4, 5) | 2020
	손해율(true)_mean: 0.0000
	손해율(true)_std : 0.0000
	손해율(pred)_mean: 0.1372
	손해율(pred)_std : 0.2376
(1, 4, 6) | 2017
	손해율(true)_mean: 4.6110
	손해율(true)_std : 1.0048
	손해율(pred)_mean: 4.1918
	손해율(pred)_std : 4.8083
(1, 4, 6) | 2018
	손해율(true)_mean: 0.7627
	손해율(true)_std : 0.9058
	손해율(pred)_mean: 0.7795
	손해율(pred)_std : 0.6802
(1, 4, 6) | 2019
	손해율(true)_mean: 0.9100
	손해율(true)_std : 0.8683
	손해율(pred)_mean: 6.5455
	손해율(pred)_std : 8.9559
(1, 4, 6) | 2020
	손해율(true)_mean: 1.9951
	손해율(true)_std : 3.4556
	손해율(pred)_mean: 10.2826
	손해율(pred)_std : 17.4548
(1, 5, 6) | 2017
	손해율(true)_mean: 3.3711
	손해율(true)_std : 2.9895
	손해율(pred)_mean: 3.1469
	손해율(pred)_std : 5.4506
(1, 5, 6) | 2018
	손해율(true)_mean: 0.1747
	손해율(true)_std : 0.3026
	손해율(pred)_mean: 0.4175
	손해율(pred)_std : 0.7231
(1, 5, 6) | 2019
	손해율(true)_mean: 0.6682
	손해율(true)_std : 0.9294
	손해율(pred)_mean: 6.5772
	손해율(pred)_std : 8.9253
(1, 5, 6) | 2020
	손해율(true)_mean: 1.9951
	손해율(true)_std : 3.4556
	손해율(pred)_mean: 10.1455
	손해율(pred)_std : 17.5724
(2, 3, 4) | 2017
	손해율(true)_mean: 2.8686
	손해율(true)_std : 0.7487
	손해율(pred)_mean: 4.7090
	손해율(pred)_std : 2.8455
(2, 3, 4) | 2018
	손해율(true)_mean: 1.1324
	손해율(true)_std : 0.9829
	손해율(pred)_mean: 1.9261
	손해율(pred)_std : 2.4563
(2, 3, 4) | 2019
	손해율(true)_mean: 1.8352
	손해율(true)_std : 2.3658
	손해율(pred)_mean: 1.9982
	손해율(pred)_std : 2.8109
(2, 3, 4) | 2020
	손해율(true)_mean: 0.1004
	손해율(true)_std : 0.1739
	손해율(pred)_mean: 0.5742
	손해율(pred)_std : 0.6705
(2, 3, 5) | 2017
	손해율(true)_mean: 1.6288
	손해율(true)_std : 1.4168
	손해율(pred)_mean: 3.6642
	손해율(pred)_std : 4.0382
(2, 3, 5) | 2018
	손해율(true)_mean: 0.5445
	손해율(true)_std : 0.9430
	손해율(pred)_mean: 1.5641
	손해율(pred)_std : 2.7091
(2, 3, 5) | 2019
	손해율(true)_mean: 1.5935
	손해율(true)_std : 2.5255
	손해율(pred)_mean: 2.0299
	손해율(pred)_std : 2.7902
(2, 3, 5) | 2020
	손해율(true)_mean: 0.1004
	손해율(true)_std : 0.1739
	손해율(pred)_mean: 0.4370
	손해율(pred)_std : 0.7569
(2, 3, 6) | 2017
	손해율(true)_mean: 3.0999
	손해율(true)_std : 1.1453
	손해율(pred)_mean: 3.6642
	손해율(pred)_std : 4.0382
(2, 3, 6) | 2018
	손해율(true)_mean: 0.5445
	손해율(true)_std : 0.9430
	손해율(pred)_mean: 1.5641
	손해율(pred)_std : 2.7091
(2, 3, 6) | 2019
	손해율(true)_mean: 1.5018
	손해율(true)_std : 2.6011
	손해율(pred)_mean: 7.3692
	손해율(pred)_std : 8.6193
(2, 3, 6) | 2020
	손해율(true)_mean: 2.0955
	손해율(true)_std : 3.3720
	손해율(pred)_mean: 10.5825
	손해율(pred)_std : 17.2065
(2, 4, 5) | 2017
	손해율(true)_mean: 2.0101
	손해율(true)_std : 1.8779
	손해율(pred)_mean: 2.0444
	손해율(pred)_std : 1.7718
(2, 4, 5) | 2018
	손해율(true)_mean: 0.5879
	손해율(true)_std : 1.0184
	손해율(pred)_mean: 0.3620
	손해율(pred)_std : 0.6271
(2, 4, 5) | 2019
	손해율(true)_mean: 1.9269
	손해율(true)_std : 2.2622
	손해율(pred)_mean: 2.2693
	손해율(pred)_std : 2.5536
(2, 4, 5) | 2020
	손해율(true)_mean: 0.1004
	손해율(true)_std : 0.1739
	손해율(pred)_mean: 0.5742
	손해율(pred)_std : 0.6705
(2, 4, 6) | 2017
	손해율(true)_mean: 3.4812
	손해율(true)_std : 1.0714
	손해율(pred)_mean: 2.0444
	손해율(pred)_std : 1.7718
(2, 4, 6) | 2018
	손해율(true)_mean: 0.5879
	손해율(true)_std : 1.0184
	손해율(pred)_mean: 0.3620
	손해율(pred)_std : 0.6271
(2, 4, 6) | 2019
	손해율(true)_mean: 1.8352
	손해율(true)_std : 2.3658
	손해율(pred)_mean: 7.6085
	손해율(pred)_std : 8.3182
(2, 4, 6) | 2020
	손해율(true)_mean: 2.0955
	손해율(true)_std : 3.3720
	손해율(pred)_mean: 10.7197
	손해율(pred)_std : 17.0811
(2, 5, 6) | 2017
	손해율(true)_mean: 2.2414
	손해율(true)_std : 2.2076
	손해율(pred)_mean: 0.9996
	손해율(pred)_std : 1.7314
(2, 5, 6) | 2018
	손해율(true)_mean: 0.0000
	손해율(true)_std : 0.0000
	손해율(pred)_mean: 0.0000
	손해율(pred)_std : 0.0000
(2, 5, 6) | 2019
	손해율(true)_mean: 1.5935
	손해율(true)_std : 2.5255
	손해율(pred)_mean: 7.6402
	손해율(pred)_std : 8.2791
(2, 5, 6) | 2020
	손해율(true)_mean: 2.0955
	손해율(true)_std : 3.3720
	손해율(pred)_mean: 10.5825
	손해율(pred)_std : 17.2065
(3, 4, 5) | 2017
	손해율(true)_mean: 2.0984
	손해율(true)_std : 1.9051
	손해율(pred)_mean: 3.7095
	손해율(pred)_std : 4.0278
(3, 4, 5) | 2018
	손해율(true)_mean: 1.1324
	손해율(true)_std : 0.9829
	손해율(pred)_mean: 1.9261
	손해율(pred)_std : 2.4563
(3, 4, 5) | 2019
	손해율(true)_mean: 0.4252
	손해율(true)_std : 0.5168
	손해율(pred)_mean: 0.5400
	손해율(pred)_std : 0.4446
(3, 4, 5) | 2020
	손해율(true)_mean: 0.0000
	손해율(true)_std : 0.0000
	손해율(pred)_mean: 0.1372
	손해율(pred)_std : 0.2376
(3, 4, 6) | 2017
	손해율(true)_mean: 3.5695
	손해율(true)_std : 0.9281
	손해율(pred)_mean: 3.7095
	손해율(pred)_std : 4.0278
(3, 4, 6) | 2018
	손해율(true)_mean: 1.1324
	손해율(true)_std : 0.9829
	손해율(pred)_mean: 1.9261
	손해율(pred)_std : 2.4563
(3, 4, 6) | 2019
	손해율(true)_mean: 0.3335
	손해율(true)_std : 0.5776
	손해율(pred)_mean: 5.8793
	손해율(pred)_std : 9.5168
(3, 4, 6) | 2020
	손해율(true)_mean: 1.9951
	손해율(true)_std : 3.4556
	손해율(pred)_mean: 10.2826
	손해율(pred)_std : 17.4548
(3, 5, 6) | 2017
	손해율(true)_mean: 2.3297
	손해율(true)_std : 2.2170
	손해율(pred)_mean: 2.6646
	손해율(pred)_std : 4.6152
(3, 5, 6) | 2018
	손해율(true)_mean: 0.5445
	손해율(true)_std : 0.9430
	손해율(pred)_mean: 1.5641
	손해율(pred)_std : 2.7091
(3, 5, 6) | 2019
	손해율(true)_mean: 0.0917
	손해율(true)_std : 0.1588
	손해율(pred)_mean: 5.9110
	손해율(pred)_std : 9.4913
(3, 5, 6) | 2020
	손해율(true)_mean: 1.9951
	손해율(true)_std : 3.4556
	손해율(pred)_mean: 10.1455
	손해율(pred)_std : 17.5724
(4, 5, 6) | 2017
	손해율(true)_mean: 2.7110
	손해율(true)_std : 2.3733
	손해율(pred)_mean: 1.0449
	손해율(pred)_std : 1.8097
(4, 5, 6) | 2018
	손해율(true)_mean: 0.5879
	손해율(true)_std : 1.0184
	손해율(pred)_mean: 0.3620
	손해율(pred)_std : 0.6271
(4, 5, 6) | 2019
	손해율(true)_mean: 0.4252
	손해율(true)_std : 0.5168
	손해율(pred)_mean: 6.1503
	손해율(pred)_std : 9.2754
(4, 5, 6) | 2020
	손해율(true)_mean: 1.9951
	손해율(true)_std : 3.4556
	손해율(pred)_mean: 10.2826
	손해율(pred)_std : 17.4548

In [21]:
min_std_true, min_mean_true = {'cluster': -1, 'value': float('inf'), 'year': -1}, {'cluster': -1, 'value': float('inf'), 'year': -1}
min_std_pred, min_mean_pred = {'cluster': -1, 'value': float('inf'), 'year': -1}, {'cluster': -1, 'value': float('inf'), 'year': -1}

for cluster in cases.keys():
    for year, data in cases[cluster].items():
        if data['손해율(true)_mean'] < min_mean_true['value']:
            min_mean_true['value'] = data['손해율(true)_mean']
            min_mean_true['cluster'] = cluster
            min_mean_true['year'] = year
        
        if data['손해율(true)_std'] < min_std_true['value']:
            min_std_true['value'] = data['손해율(true)_std']
            min_std_true['cluster'] = cluster
            min_std_true['year'] = year
            
        if data['손해율(pred)_mean'] < min_mean_pred['value']:
            min_mean_pred['value'] = data['손해율(pred)_mean']
            min_mean_pred['cluster'] = cluster
            min_mean_pred['year'] = year
            
        if data['손해율(pred)_std'] < min_std_pred['value']:
            min_std_pred['value'] = data['손해율(pred)_std']
            min_std_pred['cluster'] = cluster
            min_std_pred['year'] = year

In [22]:
print(min_mean_true)
print(min_mean_pred)
print(min_std_true)
print(min_std_pred)

{'cluster': (1, 3, 4), 'value': 0.0, 'year': 2020}
{'cluster': (0, 5, 6), 'value': 0.0, 'year': 2017}
{'cluster': (1, 3, 4), 'value': 0.0, 'year': 2020}
{'cluster': (0, 5, 6), 'value': 0.0, 'year': 2017}

In [23]:
cases_v2 = defaultdict(dict)

def pick_cluster_v2(idx, items=[], n_pick=0):
    if n_pick == 3:
        df = df_total[df_total['cluster_id'].isin(items)]
        cases_v2[tuple(items)] = {
            '손해율(true)_mean': df['손해율(true)'].mean(),
            '손해율(pred)_mean': df['손해율(pred)'].mean(),
            '손해율(true)_std': df['손해율(true)'].std(),
            '손해율(pred)_std': df['손해율(pred)'].std(),
        }
        return
    for i in range(idx + 1, 6 + 1):
        items.append(i)
        pick_cluster_v2(i, items, n_pick + 1)
        items.pop()
        
pick_cluster_v2(-1, items=[], n_pick=0)

In [24]:
min_data = {
    '손해율(true)_mean': {'cluster': -1, 'value': float('inf')},
    '손해율(true)_std': {'cluster': -1, 'value': float('inf')},
    '손해율(pred)_mean': {'cluster': -1, 'value': float('inf')},
    '손해율(pred)_std': {'cluster': -1, 'value': float('inf')},
}

for cluster in cases_v2.keys():
    for k, v in cases_v2[cluster].items():
        if v < min_data[k]['value']:
            min_data[k]['value'] = v
            min_data[k]['cluster'] = cluster
            
min_data

{'손해율(true)_mean': {'cluster': (3, 4, 5), 'value': 0.7311878191591369},
 '손해율(true)_std': {'cluster': (3, 4, 5), 'value': 1.1742626964319842},
 '손해율(pred)_mean': {'cluster': (2, 4, 5), 'value': 1.7117283700971797},
 '손해율(pred)_std': {'cluster': (2, 4, 5), 'value': 2.011794305380933}}

In [25]:
for cluster in cases_v2.keys():
    print(cluster)
    for k, v in cases_v2[cluster].items():
        print(f'\t{k} {v:.4f}')

(0, 1, 2)
	손해율(true)_mean 2.0539
	손해율(pred)_mean 3.5034
	손해율(true)_std 2.8123
	손해율(pred)_std 3.3392
(0, 1, 3)
	손해율(true)_mean 1.8600
	손해율(pred)_mean 3.7236
	손해율(true)_std 2.7475
	손해율(pred)_std 3.5962
(0, 1, 4)
	손해율(true)_mean 2.0116
	손해율(pred)_mean 3.0035
	손해율(true)_std 2.7454
	손해율(pred)_std 3.4425
(0, 1, 5)
	손해율(true)_mean 1.5977
	손해율(pred)_mean 3.0930
	손해율(true)_std 2.8038
	손해율(pred)_std 3.6253
(0, 1, 6)
	손해율(true)_mean 2.2726
	손해율(pred)_mean 7.7108
	손해율(true)_std 3.0012
	손해율(pred)_std 10.1589
(0, 2, 3)
	손해율(true)_mean 1.8042
	손해율(pred)_mean 3.6369
	손해율(true)_std 2.6555
	손해율(pred)_std 3.2042
(0, 2, 4)
	손해율(true)_mean 1.9559
	손해율(pred)_mean 2.9169
	손해율(true)_std 2.6567
	손해율(pred)_std 3.0086
(0, 2, 5)
	손해율(true)_mean 1.5420
	손해율(pred)_mean 3.0063
	손해율(true)_std 2.7079
	손해율(pred)_std 3.2187
(0, 2, 6)
	손해율(true)_mean 2.2169
	손해율(pred)_mean 7.6241
	손해율(true)_std 2.9256
	손해율(pred)_std 10.0637
(0, 3, 4)
	손해율(true)_mean 1.7620
	손해율(pred)_mean 3.1370
	손해율(true)_std 2.5801
	손해율(pred)_std 3.3332
(0, 3, 5)
	손해율(true)_mean 1.3481
	손해율(pred)_mean 3.2265
	손해율(true)_std 2.6000
	손해율(pred)_std 3.5180
(0, 3, 6)
	손해율(true)_mean 2.0230
	손해율(pred)_mean 7.8442
	손해율(true)_std 2.8752
	손해율(pred)_std 10.0556
(0, 4, 5)
	손해율(true)_mean 1.4997
	손해율(pred)_mean 2.5064
	손해율(true)_std 2.6296
	손해율(pred)_std 3.2447
(0, 4, 6)
	손해율(true)_mean 2.1747
	손해율(pred)_mean 7.1242
	손해율(true)_std 2.8640
	손해율(pred)_std 10.3147
(0, 5, 6)
	손해율(true)_mean 1.7607
	손해율(pred)_mean 7.2137
	손해율(true)_std 2.9447
	손해율(pred)_std 10.3390
(1, 2, 3)
	손해율(true)_mean 1.2853
	손해율(pred)_mean 2.9288
	손해율(true)_std 1.8127
	손해율(pred)_std 2.9197
(1, 2, 4)
	손해율(true)_mean 1.4370
	손해율(pred)_mean 2.2088
	손해율(true)_std 1.8604
	손해율(pred)_std 2.4934
(1, 2, 5)
	손해율(true)_mean 1.0231
	손해율(pred)_mean 2.2983
	손해율(true)_std 1.8099
	손해율(pred)_std 2.7679
(1, 2, 6)
	손해율(true)_mean 1.6980
	손해율(pred)_mean 6.9161
	손해율(true)_std 2.2919
	손해율(pred)_std 10.2754
(1, 3, 4)
	손해율(true)_mean 1.2431
	손해율(pred)_mean 2.4289
	손해율(true)_std 1.6866
	손해율(pred)_std 2.9342
(1, 3, 5)
	손해율(true)_mean 0.8292
	손해율(pred)_mean 2.5184
	손해율(true)_std 1.5770
	손해율(pred)_std 3.1641
(1, 3, 6)
	손해율(true)_mean 1.5041
	손해율(pred)_mean 7.1362
	손해율(true)_std 2.1782
	손해율(pred)_std 10.2838
(1, 4, 5)
	손해율(true)_mean 0.9808
	손해율(pred)_mean 1.7984
	손해율(true)_std 1.6764
	손해율(pred)_std 2.6591
(1, 4, 6)
	손해율(true)_mean 1.6557
	손해율(pred)_mean 6.4162
	손해율(true)_std 2.2020
	손해율(pred)_std 10.4853
(1, 5, 6)
	손해율(true)_mean 1.2418
	손해율(pred)_mean 6.5057
	손해율(true)_std 2.2039
	손해율(pred)_std 10.5156
(2, 3, 4)
	손해율(true)_mean 1.1873
	손해율(pred)_mean 2.3423
	손해율(true)_std 1.5078
	손해율(pred)_std 2.3882
(2, 3, 5)
	손해율(true)_mean 0.7734
	손해율(pred)_mean 2.4317
	손해율(true)_std 1.3662
	손해율(pred)_std 2.6687
(2, 3, 6)
	손해율(true)_mean 1.4483
	손해율(pred)_mean 7.0495
	손해율(true)_std 2.0506
	손해율(pred)_std 10.1846
(2, 4, 5)
	손해율(true)_mean 0.9251
	손해율(pred)_mean 1.7117
	손해율(true)_std 1.4860
	손해율(pred)_std 2.0118
(2, 4, 6)
	손해율(true)_mean 1.6000
	손해율(pred)_mean 6.3295
	손해율(true)_std 2.0801
	손해율(pred)_std 10.3815
(2, 5, 6)
	손해율(true)_mean 1.1861
	손해율(pred)_mean 6.4190
	손해율(true)_std 2.0703
	손해율(pred)_std 10.4129
(3, 4, 5)
	손해율(true)_mean 0.7312
	손해율(pred)_mean 1.9318
	손해율(true)_std 1.1743
	손해율(pred)_std 2.5835
(3, 4, 6)
	손해율(true)_mean 1.4061
	손해율(pred)_mean 6.5496
	손해율(true)_std 1.9437
	손해율(pred)_std 10.4031
(3, 5, 6)
	손해율(true)_mean 0.9922
	손해율(pred)_mean 6.6391
	손해율(true)_std 1.8882
	손해율(pred)_std 10.4325
(4, 5, 6)
	손해율(true)_mean 1.1438
	손해율(pred)_mean 5.9191
	손해율(true)_std 1.9585
	손해율(pred)_std 10.5950